<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCIT</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="../main.js" defer></script>
  </head>
  <body>
    <nav id="navbar">
      <div class="navbar__logo">
        <i class="fab fa-diaspora"></i>
        <a href="index.ejs">CCIT</a>
      </div>
      <div class="navbar__menu">
        <ul class="navbar__menu">
          <li class="navbar__menu__item"><a href="index.ejs">Home</a></li>
          <li class="navbar__menu__item"><a href="major.ejs">전공소개</a></li>
          <li class="navbar__menu__item">
            <a href="professor.ejs">교수소개</a>
          </li>
          <li class="navbar__menu__item">
            <a href="reference.ejs">자료실</a>
          </li>
          <li class="navbar__menu__item">
            <a href="project.ejs">작품게시판</a>
          </li>
          <li class="navbar__menu__item">
            <a href="question.ejs">질문게시판</a>
          </li>
          <li class="navbar__menu__item">
            <a href="gallery.ejs">포토갤러리</a>
          </li>
        </ul>
      </div>
    </nav>
    
  </body>
</html>
